In [156]:
import pandas as pd
import numpy as np


df=pd.read_csv('businesses_reviews.csv')
df.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,date
0,0,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,"Pizza, Restaurants","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",NmrPTpc8hMk7Py1WXCGAyQ,XOa3fuOw90GWvghLHyTQYA,2.0,0,0,0,Bunch of high school/college kids running the ...,2018-08-05 00:10:12
1,1,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,"Pizza, Restaurants","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",SU-CiUs2Pi1ox1SnUE5O7g,dioXbYFdMCyE7zCK90eM3Q,4.0,0,0,0,"While housesitting for my mom, I recently revi...",2012-03-31 13:53:57
2,2,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,"Pizza, Restaurants","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",1K5K2VNQocHwsV-j80xGMA,nOhojpAqSJSDRFMNQx7sVA,4.0,0,0,0,we definitely contributed to keeping them in b...,2017-06-28 22:26:20
3,3,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,"Pizza, Restaurants","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",7Bn0ZX8zGLbFzTqY3f45WA,2ojg5WZeDIiRBJbDloxbOA,2.0,0,1,0,Their eggplant parm is terrible. Eggplant wasn...,2014-07-15 11:12:51
4,4,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,"Pizza, Restaurants","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",z3Bpzu2aeoWO_oiSevCzxA,XxdadCyqKEJYFfOjXkzpGQ,5.0,0,0,0,This pizza is great! Moved to the Main Line fr...,2017-10-05 00:12:32

In [157]:
# Function to extract attribute options
def extract_columns(row):
    try:
        data_dict = eval(row['attributes'])
        return data_dict
    except:
        return {}

# Apply the function to create new columns
df = pd.concat([df, df.apply(extract_columns, axis=1, result_type='expand')], axis=1)



# Function to extract meal options
def extract_meal_options(row):
    try:
        meal_options_dict = eval(row['GoodForMeal'].replace("'", '"'))
        return pd.Series(meal_options_dict)
    except:
        return pd.Series({})

# Apply the function to create new columns
meal_options = df.apply(extract_meal_options, axis=1)

# Add the new columns to the DataFrame
df = pd.concat([df, meal_options], axis=1)




# Function to extract start and end times for each day
# Function to extract columns from the JSON-like string
def extract_hours(row):
    try:
        data_dict = eval(row['hours'])
        return data_dict
    except:
        return {}

# Apply the function to create new columns
df = pd.concat([df, df.apply(extract_hours, axis=1, result_type='expand')], axis=1)



# Function to extract parking options
def extract_parking_options(row):
    try:
        parking_options_dict = eval(row['BusinessParking'].replace("'", '"'))
        return pd.Series(parking_options_dict)
    except:
        return pd.Series({})

# Apply the function to create new columns
parking_options = df.apply(extract_parking_options, axis=1)

# Add the new columns to the DataFrame
df = pd.concat([df, parking_options], axis=1)


df.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,Wednesday,Thursday,Friday,Saturday,Sunday,garage,lot,street,valet,validated
0,0,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
1,1,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
2,2,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
3,3,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
4,4,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False

In [162]:
# df['dessert']

In [159]:
pd.set_option('display.max_rows', None)
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)
missing_value_df

                                           column_name  percent_missing
Unnamed: 0                                  Unnamed: 0         0.000000
date                                              date         0.000000
text                                              text         0.000000
cool                                              cool         0.000000
funny                                            funny         0.000000
useful                                          useful         0.000000
user_id                                        user_id         0.000000
review_id                                    review_id         0.000000
categories                                  categories         0.000000
is_open                                        is_open         0.000000
stars_y                                        stars_y         0.000000
stars_x                                        stars_x         0.000000
review_count                              review_count         0.000000
name                                              name         0.000000
city                                              city         0.000000
state                                            state         0.000000
business_id                                business_id         0.000000
latitude                                      latitude         0.000000
longitude                                    longitude         0.000000
postal_code                                postal_code         0.000000
address                                        address         0.094500
attributes                                  attributes         0.352800
RestaurantsTakeOut                  RestaurantsTakeOut         1.557677
RestaurantsDelivery                RestaurantsDelivery         2.482202
BusinessAcceptsCreditCards  BusinessAcceptsCreditCards         6.613432
RestaurantsPriceRange2          RestaurantsPriceRange2         7.594658
RestaurantsReservations        RestaurantsReservations         8.021483
RestaurantsGoodForGroups      RestaurantsGoodForGroups         8.232533
Ambience                                      Ambience         9.098784
OutdoorSeating                          OutdoorSeating         9.125559
BusinessParking                        BusinessParking         9.196434
HasTV                                            HasTV         9.446859
GoodForKids                                GoodForKids         9.459459
valet                                            valet        10.256410
RestaurantsAttire                    RestaurantsAttire        12.258237
validated                                    validated        13.111888
garage                                          garage        13.609589
lot                                                lot        13.919864
Alcohol                                        Alcohol        14.356139
street                                          street        17.266742
hours                                            hours        17.375417
Thursday                                      Thursday        17.543943
Friday                                          Friday        17.680968
Saturday                                      Saturday        18.181818
NoiseLevel                                  NoiseLevel        18.314118
Wednesday                                    Wednesday        18.589744
Tuesday                                        Tuesday        20.237195
WiFi                                              WiFi        21.649972
BikeParking                                BikeParking        22.843823
Monday                                          Monday        25.278775
Sunday                                          Sunday        26.390726
Caters                                          Caters        27.828703
GoodForMeal                                GoodForMeal        34.987085
dinner                                          dinner        36.760537
lunch                                            lunch        39.376614
breakfast                                    breakfast        39.849115
brunch                                          brunch        41.581617
dessert                                        dessert        45.358470
latenight                                    latenight        46.558622
RestaurantsTableService        RestaurantsTableService        64.600265
HappyHour                                    HappyHour        80.411705
WheelchairAccessible              WheelchairAccessible        83.103383
DogsAllowed                                DogsAllowed        85.204435
BusinessAcceptsBitcoin          BusinessAcceptsBitcoin        90.028665
BYOB                                              BYOB        93.321993
Corkage                                        Corkage        94.150444
ByAppointmentOnly                    ByAppointmentOnly        95.041895
BYOBCorkage                                BYOBCorkage        95.668746
DriveThru                                    DriveThru        97.528823
Open24Hours                                Open24Hours        99.935425
Smoking                                        Smoking        99.962200

In [160]:
to_drop=['attributes', 'Ambience', 'hours', 'GoodForMeal', 'BusinessParking',
         'Unnamed: 0','useful', 'stars_y','categories','date','is_open','funny','cool',
         'RestaurantsTableService','HappyHour','DogsAllowed','BusinessAcceptsBitcoin','BYOB','Corkage',
        'ByAppointmentOnly','BYOBCorkage','DriveThru','Open24Hours','Smoking', 'categories','stars_y']

df = df.drop(to_drop, axis=1)
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,Wednesday,Thursday,Friday,Saturday,Sunday,garage,lot,street,valet,validated
0,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
1,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
2,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
3,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
4,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False

In [212]:
# Remove 'u' and quotes from values
df['RestaurantsAttire'] = df['RestaurantsAttire'].str.replace("u'casual'", "casual")
df['RestaurantsAttire'] = df['RestaurantsAttire'].str.replace("u'formal'", "formal")
df['RestaurantsAttire'] = df['RestaurantsAttire'].str.replace("'", '')


df['Alcohol']=df['Alcohol'].str.replace("u'none'","None")
df['Alcohol']=df['Alcohol'].str.replace("u'beer_and_wine'","beer_and_wine")
df['Alcohol']=df['Alcohol'].str.replace("u'full_bar'","full_bar")
df['Alcohol']=df['Alcohol'].str.replace("'none'","None")
df['Alcohol']=df['Alcohol'].str.replace("'beer_and_wine'","beer_and_wine")
df['Alcohol']=df['Alcohol'].str.replace("'full_bar'","full_bar")


df['NoiseLevel']=df['NoiseLevel'].str.replace("u'average'", "average")     
df['NoiseLevel']=df['NoiseLevel'].str.replace("'average'","average")      
df['NoiseLevel']=df['NoiseLevel'].str.replace("u'quiet'","quiet")        
df['NoiseLevel']=df['NoiseLevel'].str.replace("u'loud'","loud")          
df['NoiseLevel']=df['NoiseLevel'].str.replace("'quiet'","quiet")         
df['NoiseLevel']=df['NoiseLevel'].str.replace("u'very_loud'","very_loud")      
df['NoiseLevel']=df['NoiseLevel'].str.replace("'loud'","loud")           
df['NoiseLevel']=df['NoiseLevel'].str.replace("'very_loud'","very_loud")


df['WiFi']=df['WiFi'].str.replace("u'no'","no")     
df['WiFi']=df['WiFi'].str.replace("u'free'","free")    
df['WiFi']=df['WiFi'].str.replace("'no'","no")        
df['WiFi']=df['WiFi'].str.replace("'free'","free")      
df['WiFi']=df['WiFi'].str.replace("u'paid'","paid")      
df['WiFi']=df['WiFi'].str.replace("'paid'","paid")

In [204]:
#I don't know how to handle the hours. I will drop them for now. 

to_drop=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

df = df.drop(to_drop, axis=1)
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,brunch,dessert,dinner,latenight,lunch,garage,lot,street,valet,validated
0,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,False,False,True,True,False,False,True,True,False,False
1,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,False,False,True,True,False,False,True,True,False,False
2,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,False,False,True,True,False,False,True,True,False,False
3,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,False,False,True,True,False,False,True,True,False,False
4,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,False,False,True,True,False,False,True,True,False,False

In [208]:
pd.set_option('display.max_rows', None)
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)
missing_value_df

                                           column_name  percent_missing
business_id                                business_id         0.000000
name                                              name         0.000000
city                                              city         0.000000
state                                            state         0.000000
postal_code                                postal_code         0.000000
latitude                                      latitude         0.000000
longitude                                    longitude         0.000000
stars_x                                        stars_x         0.000000
review_count                              review_count         0.000000
review_id                                    review_id         0.000000
user_id                                        user_id         0.000000
text                                              text         0.000000
address                                        address         0.094500
RestaurantsTakeOut                  RestaurantsTakeOut         1.557677
RestaurantsDelivery                RestaurantsDelivery         2.482202
BusinessAcceptsCreditCards  BusinessAcceptsCreditCards         6.613432
RestaurantsPriceRange2          RestaurantsPriceRange2         7.594658
RestaurantsReservations        RestaurantsReservations         8.021483
RestaurantsGoodForGroups      RestaurantsGoodForGroups         8.232533
OutdoorSeating                          OutdoorSeating         9.125559
HasTV                                            HasTV         9.446859
GoodForKids                                GoodForKids         9.459459
valet                                            valet        10.256410
RestaurantsAttire                    RestaurantsAttire        12.258237
validated                                    validated        13.111888
garage                                          garage        13.609589
lot                                                lot        13.919864
Alcohol                                        Alcohol        14.356139
street                                          street        17.266742
NoiseLevel                                  NoiseLevel        18.314118
WiFi                                              WiFi        21.649972
BikeParking                                BikeParking        22.843823
Caters                                          Caters        27.828703
dinner                                          dinner        36.760537
lunch                                            lunch        39.376614
breakfast                                    breakfast        39.849115
brunch                                          brunch        41.581617
dessert                                        dessert        45.358470
latenight                                    latenight        46.558622
WheelchairAccessible              WheelchairAccessible        83.103383

In [230]:
df.RestaurantsTakeOut.value_counts()

RestaurantsTakeOut
True     60870
None      1503
False      130
Name: count, dtype: int64

### these are the important columns


stars_x
RestaurantsTakeOut
RestaurantsDelivery
BusinessAcceptsCreditCards
RestaurantsPriceRange2
RestaurantsReservations
RestaurantsGoodForGroups
HasTV
GoodForKids
valet
RestaurantsAttire
validated
garage
lot
Alcohol
street
NoiseLevel
WiFi
BikeParking
Caters
dinner
lunch
breakfast
brunch
dessert
latenight
WheelchairAccessible

In [223]:
df.to_csv('cleaned_business_reviews.csv')